* {
    padding: 0;
    margin: 0;
}

.con {
    padding: 40px;
}

.con1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.con1__title {
    padding: 10px;
}

.con1__desc {
    padding: 5px;
}

img {
    height: 200px;
    width: 200px;
}

.con2,
.con3,
.con4,
.con5 {
    display: inline-block;
    margin: 5px;
    height: 300px;
    width: 200px;
    text-align: center;
    border: solid black 5px;
    vertical-align: middle;
}

.middle {
    padding-left: 130px;
}

button {
    background-color: black;
    color: white;
    margin: 10px;
}
.con6{background-color: black;
color: white;
text-align: center;
padding: 10px;
margin: 5px;
}
form{padding-left: 500px;}
.con6__button{background-color: yellow;
color: black;
width: 100px;
height: 20px;
margin: 10px;}